<?xml version="1.0"?>
<config>
    <modules>
        <OpenPix_Pix>
            <version>1.7.2</version>
        </OpenPix_Pix>
    </modules>

    <global>
        <helpers>
            <openpix_pix>
                <class>OpenPix_Pix_Helper</class>
            </openpix_pix>
        </helpers>
        <blocks>
            <openpix_pix>
                <class>OpenPix_Pix_Block</class>
            </openpix_pix>
        </blocks>
        <models>
            <openpix_pix>
                <class>OpenPix_Pix_Model</class>
            </openpix_pix>
            <sales>
                <rewrite>
                    <order>OpenPix_Pix_Model_Rewrite_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <openpix_pix_setup>
                <setup>
                    <module>OpenPix_Pix</module>
                    <class>Mage_Paypal_Model_Resource_Setup</class>
                </setup>
            </openpix_pix_setup>
        </resources>
    </global>

    <default>
        <payment>
            <openpix_pix>
                <active>1</active>
                <model>openpix_pix/paymentMethod</model>
                <title>Pay with Pix</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </openpix_pix>
            <openpix_pix_parcelado>
                <active>1</active>
                <model>openpix_pix/parcelado_paymentMethod</model>
                <title>Pay with OpenPix Parcelado</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </openpix_pix_parcelado>
        </payment>
    </default>

    <frontend>
        <layout>
            <updates>
                <openpix_pix>
                    <file>openpix/pix/pix.xml</file>
                </openpix_pix>
            </updates>
        </layout>
        <routers>
            <pix>
                <use>standard</use>
                <args>
                    <module>OpenPix_Pix</module>
                    <frontName>openpix</frontName>
                </args>
            </pix>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <openpix_pix>
                    <file>openpix/pix/pix.xml</file>
                </openpix_pix>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <openpix>
                <use>admin</use>
                <args>
                    <module>OpenPix_Pix</module>
                    <frontName>openpix</frontName>
                </args>
            </openpix>
        </routers>
    </admin>
</config>
